<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Products List</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- Navbar -->
        <nav>
          <v-toolbar flat app color="light-blue">
            <v-toolbar-title class="text-uppercase white--text ml-5">
              <span class="font-weight-light">Living</span>
              <span>Room</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title class="white--text">
              <span class="font-weight-light">Home</span>
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template v-slot:activator="{ on, attrs }">
                    <span class="font-weight-light mx-5" color="primary" dark v-bind="attrs" v-on="on">Products</span>
                  </template>
                  <v-list>
                    <v-list-item v-for="(item, i) in items" :key="i" @click="">
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              <span class="font-weight-light">About</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <div class="mr-5">
              <v-menu bottom left>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon color="white"  v-bind="attrs" v-on="on">
                    <v-badge color="indigo darken-1" class="text--white" :value="carts.length" :content="carts.length" overlap>
                    <v-icon>fas fa-shopping-cart</v-icon>
                    </v-badge>
                  </v-btn>
                </template>
                <v-card tile>
                <v-list>
                  <v-list-item v-for="cart in carts" :key="cart.id" >
                    <v-list-item-avatar tile width="65" height="65">
                      <v-img src="img/8.jpg"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-row justify="space-between">
                        <v-col cols="7">
                          <v-list-item-title>{{ cart.title }}</v-list-item-title>
                          <v-list-item-subtitle>by {{ cart.brand }}</v-list-item-subtitle>
                        </v-col>
                        <v-col class="d-flex" cols="5">
                          <v-btn depressed small class="mr-3 white--text blue lighten-1">Pay</v-btn>
                          <v-btn depressed small class="white--text red darken-1">Remove</v-btn>
                        </v-col>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
              </v-menu>
            </div>
          </v-toolbar>
        </nav>
        <!-- End Navbar -->
        <v-container>
        <v-row justify="center">
          <v-col cols="12">
            <h1 class="text-center">Living Room Products</h1>
          </v-col>
          <v-col cols="7">
            <h4 class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias ut error dolorum amet ipsam accusantium, Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>   
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <!-- Main Content -->
        <v-container class="d-flex flex-wrap justify-space-between grey lighten-4 mt-5">
          <template>
            <v-card tile class="mx-auto my-4" max-width="270" max-height="auto" v-for="product in products" :key="product.id">
              <v-carousel hide-delimiters height="230" show-arrows-on-hover>
                <v-carousel-item v-for="img in product.imgs" :key="img.src">
                  <v-img  :src="img.src"  height="230"></v-img>
                </v-carousel-item>
              </v-carousel>
              <v-card-title>
                <a class="text-decoration-none" color="blue darken-4" @click="dialog = !dialog">{{ product.title }}</a>
              </v-card-title>
              <v-card-subtitle class="pb-0">by {{ product.brand }} - {{ product.region }}</v-card-subtitle>
              <v-card-text class="d-flex">
                <v-rating :value="product.value"  color="amber" dense half-increments readonly size="14"></v-rating>
                <div class="grey--text ml-4">{{ product.value }} ({{ product.sell }})</div>                  
                <v-spacer></v-spacer>
                <h2 class="font-weight-bold" color="blue-grey darken-2">{{ product.price }}</h2>
              </v-card-text>
                <v-divider class="mx-4"></v-divider>
                <v-card-actions class="d-flex justify-space-around">
                  <v-btn text color="light-blue darken-3" class="tombol" @click="order()">{{ product.order }}</v-btn>
                  <v-btn text @click="addToCart(product)">
                    {{ product.cart }}
                  </v-btn>
                </v-card-actions>
              </v-card>
              <!-- Dialog -->
              <v-dialog v-model="dialog" scrollable max-width="800px">
              <v-card max-height="100%">
                <template>
                  <v-row justify="center">
                    <v-dialog v-model="dialog" scrollable max-width="900px">
                      <v-card tile>
                        <v-card-title>
                          <v-spacer></v-spacer>
                          <v-btn icon @click="dialog = false">
                            <v-icon>fas fa-times</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-card-text style="height: 500px;">
                          <v-row>
                            <v-col col="4">
                              <v-card max-width="300" class="mx-auto" tile outlined>
                              
                                  <v-carousel height="420" hide-delimiters show-arrows-on-hover>
                                    <v-carousel-item>
                                      <v-img src="img/7.jpg" ></v-img>
                                      <v-img src="img/8.jpg" ></v-img>
                                    </v-carousel-item>
                                  </v-carousel>
                                
                              </v-card>
                            </v-col>
                            <v-col col="8">
                              <v-container height="420" width="300" class="align-end">
                                <p class="headline font-weight-bold">flower vase for a more comfortable room</p>
                                <p class="">by IKEA - swiss</p>
                                <div class="d-flex py-2">
                                  <v-rating value="3.5"  color="amber" dense half-increments readonly size="20"></v-rating>
                                  <div class="grey--text ml-4">3.5 (150)</div> 
                                </div>
                                <p class="text--secondary"> quantity</p>
                              </v-container>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col col="8" >
                              <v-container class="justify-center">
                                <h1>this is space for description product</h1>
                              </v-container>
                              <v-divider></v-divider>
                              <v-container>
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, id! Repellat magni nobis consectetur expedita reiciendis doloremque illum, tenetur unde totam laudantium corporis quasi adipisci accusantium mollitia, pariatur aliquam cumque quidem corrupti quis dolore. Eligendi, sequi laboriosam, totam incidunt asperiores recusandae ducimus doloribus odio minus ipsum sapiente animi quidem porro!</h3>
                              </v-container>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-divider class="mx-4"></v-divider>
                        <v-card-actions class="justify-center">
                          <v-btn color="red" class="white--text" @click="dialog = false" text>Cancel</v-btn>
                          <v-btn color="light-blue" class="white--text" @click="pay()">Pay</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </template>
                </v-card>
              </v-dialog>
              <!-- end Dialog -->
            </template>   
          </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="product.js"></script>
</body>
</html>